<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <context-param>
        <param-name>banqueDataSource</param-name>
        <param-value>jdbc/Banque</param-value>
    </context-param>

    <listener>
        <listener-class>fr.uge.jee_td2.listeners.InitBanqueWeb</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletOperations</servlet-name>
        <servlet-class>fr.uge.jee_td2.servlets.SOperations</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletOperations</servlet-name>
        <url-pattern>/Compte/GestionOperations</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <res-ref-name>jdbc/Banque</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <security-role>
        <role-name>lecture</role-name>
    </security-role>
    <security-role>
        <role-name>ecriture</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Zone Sécurisée Compte</web-resource-name>
            <url-pattern>/Compte/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>

        <auth-constraint>
            <role-name>lecture</role-name>
            <role-name>ecriture</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>MemoryRealm</realm-name>
        <form-login-config>
            <form-login-page>/JLogin.jsp</form-login-page>
            <form-error-page>/JErreurLogin.jsp</form-error-page>
        </form-login-config>
    </login-config>
</web-app>